#各種oauth認証に必要なkeyとDB接続に必要な情報をJSON形式で管理しています。
#各々の環境に応じてこのdistファイルを元にaccess_key.jsonを作成してください。

{"consumer_key":"",
 "consumer_secret":"",
 "access_token":"",
 "access_token_secret":"",
 "db_name":"",
 "db_user":"",
 "db_password":""
}